<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Image</th>
      <th>Quantity</th>
      <th>Active</th>
      <th>Ac</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.image }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.active }}</td>
      <td>
        <a [routerLink]="['edit', product.id]">Edit</a>
        <button (click)="handleDelete(product.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
